p {
    font-size: 40px;
    margin-bottom: 30px;
}

h1 {
    font-size: 50px;
    margin-bottom: 30px;
}
td {
    font-size: 20px;
}
h1 b {
    font-size: 90px;
}
ul {
    font-size: 30px;
}

#pingtai td {
    font-size: 25px;
}

tr.even {
    background-color:#efefef;
}

#stuff th {
    width: 150px;
    font-size: 50px;
}

#title img {
    position: absolute;
    top: 20px;
    left: 500px;
    width: 150px;
}
#stuff .grounp {
    background-color: #007AAA;
    color: white;
    height: 50px;
    width: 100px;
    text-align: center;
    border-radius: 50px;
}

/*
#92team {
    position: absolute;
    background-color: #007AAA;
    color: white;
    height: 50px;
    width: 100px;
    text-align: center;
    border-radius: 50px;
}*/
#stuff img {
    height: 100px;
    position: absolute;
}

#logo2 {
    top: 180px;
    left: 700px;
}

#logo9 {
    top: 420px;
    left: 700px;
}